body {
    padding-top: 50px;
    padding-bottom: 0;
    background-color: #FAF9F9;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*NavBar*/
.navbar-inverse {
    background-color: #89B0AE;
    border-color: #89B0AE;
    color: #555B6E;
}
.navbar-brand {
    font-family: 'Bradley Hand ITC';
}

    .navbar-inverse .navbar-brand {
        color: #555B6E;
        font-weight: 700;
    }
    .navbar-inverse .navbar-nav li a{
        color: #555B6E;
        font-weight: 700;
    }
    .navbar-inverse .navbar-toggle {
        background-color: transparent;
        border-color: transparent;
    }
        .navbar-inverse .navbar-toggle:hover {
            background-color: #FAF9F9;
        }
        .navbar-inverse .navbar-toggle .icon-bar {
            background-color: #555B6E;
        }
/*Home*/
.jumbotron{
    margin: 30px auto;
    padding: 30px;
    text-align:center;
    position: relative;

}
@media(min-width:360px){
    .homepic {
        max-width: 90%;
    }
}
.title {
    position: absolute;
    width: 50%;
    height: 38%;    
    margin: 200px auto;
    padding:15px;
    left:0;
    right: 0;
    display: grid;
    background-color: #555B6E;
    font-family: 'Bradley Hand ITC';
    color: #fff;
    font-weight: 900;
    opacity: 0.9;
    border-radius: 6px;
    text-align: left;
}
@media(min-width:360px) {
    .title {
        width: 70%;
        margin-top: 120px;
    }
        .title span {
            font-size: 30px;
        }
        .title p {
            font-size: 12px;
        }
    .btn-primary {
        padding: 3px 8px;
        font-size: 15px;
    }

}
@media(min-width:768px) {
    .title {
        width: 60%;
        margin-top: 200px;
    }
        .title span {
            font-size: 50px;
        }
        .title p {
            font-size: 20px;
        }
}
@media(min-width:1203px) {
    .title {
        width: 30%;
    }
        .title span {
            font-size: 50px;
        }
        .title p {
            font-size: 18px;
        }
}
@media(min-width:1440px) {
    .title {
        width: 30%;
        height: 40%;
        margin-top: 250px
    }
        .title span {
            font-size: 55px;
        }
        .title p {
            font-size: 20px;
        }
}

.btn-primary {
    background-color: #F6A9A2;
    border-color: #F6A9A2;
}
    .btn-primary a {
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration:none;
    }
    .btn-primary:hover {
        background-color: #FFD6BA;
        border-color: #FFD6BA;
    }
.pic img{
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.btn-default {
    background-color: #F6A9A2;
    border-color: #F6A9A2;
}
    .btn-default a {
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
    }
.text{
    height: 100px;
    margin-top: 10px;
}
footer {
    background-color: #89B0AE;
    border-color: #89B0AE;
    color: #555B6E;
    text-align:center;
    height: 50px;
    padding: 15px 0;
}
/*Menu Page*/
.edit-btn {
    background-color: #BEE3DB;
    border-color: #BEE3DB;
    border-radius: 5px;
}
    .edit-btn a {
        color: #555B6E
    }
    .edit-btn a:hover {
        text-decoration: none;
        color: #555B6E
    }

.details-btn {
    background-color: #FFD6BA;
    border-color: #FFD6BA;
    border-radius: 5px;
}
.details-btn a {
    color: #555B6E
}
.detailst-btn a:hover {
    text-decoration: none;
}
.delete-btn {
    background-color: #F6A9A2;
    border-color: #F6A9A2;
    border-radius: 5px;
}
.delete-btn a {
    color: #555B6E
}
.delete-btn a:hover {
    text-decoration: none;
}